.details-container {
    display: flex;
}

.show-img {
    width: 20%;
    padding: 10px;
    border: 2px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 100%;
    padding: 10px;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.seasons-card {
    background: #333;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.selected {
    background: var(--selected-color) !important;
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px
}