header {
    background: #ff704c;
    box-shadow: 0 2px 10px var(--shadow-hover);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 60px;
    display: flex;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    color: white;
}