header {
    background: var(--primary-color);
    box-shadow: 0 2px 10px var(--shadow-hover);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 990;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height: 60px;
    display: flex;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    color: black;
}

.header-btns {
    display: flex;
    gap: 20px;
}

.header-btns button {
    background: #333;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
}

.header-btns button:hover {
    cursor: pointer;
}

.searchbar {
    background: var(--accent-color);
    color: white;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 10px 20px 10px 30px;
    font-size: 14px;
}